<!DOCTYPE html>
<html {{{htmlAttributes}}}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{{meta}}}
  {{{base}}}
  {{{title}}}
  {{{link}}}
  {{{style}}}
</head>
<body {{{bodyAttributes}}}>
  <div id="mount-point">{{{markup}}}</div>
  {{{noscript}}}
  {{{script}}}
</body>
</html>
